@charset "UTF-8";
/* CSS Document */

/* ALL ARTICLES */
h1 {
	font-size: 15px;
}
h2 {
	font-size: 14px;
	margin-left:0px !important;
}
p {
	font-size: 13px;
	margin: 0;
	line-height: normal;
}
.byline {
	margin: 15px;
}

/* UPGRADE YOUR KITCHEN */
#post-5702 ol li {
	line-height: normal;
	margin-bottom: 10px;
}

/*RENT TO OWN POOLS */
#post-5711 ol li {
	line-height: normal;
	margin-bottom: 10px;
}
#post-5711 a { 
	color: #F3DE8A !important;
}
